$white: #fff;
$text: #292929;
$text-mid: lighten($text,50%);
$text-light: lighten($text,70%);
$white-transparent: rgba(#fff,.1);
$black-transparent: rgba(#000,.1);
$accent: #145ea8;
$accent-2: #4caf50;

$email: $text;
$facebook: #3b5998;
$github: #4183c4;
$google: #dc4e41;
$instagram: #c13584;
$linkedin: #0077b5;
$pinterest: #bd081c;
$twitter: #55acee;
$youtube: #cd201f;
