@mixin screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

@mixin screen-reader-text-reset {
	position: relative !important;
	clip: auto;
	width: auto;
	height: auto;
}

